# 🔒 Archivos sensibles
**/.env
**/.env.* 

# 📦 Dependencias
**/node_modules/

# 🛠️ Build y caché
**/dist/
**/build/
.expo/
.expo-shared/
*.pack
*.map
*.tmp
.gradle/
ios/
android/

# 📄 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log*

# 🧠 IDE
.DS_Store
.vscode/
.idea/